<script>
  var active = function() {
    $(".travel_link").addClass('active');
  };
  active()
</script>
<div class="container-fluid">
  <h3 class="text-center">More pictures coming soon!</h3>
  <div class="row">
    <br />
    <div class="col-sm-6 col-md-4 col-lg-3">
      <%= image_tag 'alaska.png', class: 'img-thumbnail welcome-image', style: 'width: 100%;' %>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-3">
      <%= image_tag 'glacier.png', class: 'img-thumbnail welcome-image', style: 'width: 100%;' %>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-3">
      <%= image_tag 'portland.png', class: 'img-thumbnail welcome-image', style: 'width: 100%;' %>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-3">
      <%= image_tag 'portland-waterfall.png', class: 'img-thumbnail welcome-image', style: 'width: 100%;' %>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-3">
      <%= image_tag 'sf.png', class: 'img-thumbnail welcome-image', style: 'width: 100%;' %>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-3">
      <%= image_tag 'skiing.png', class: 'img-thumbnail welcome-image', style: 'width: 100%;' %>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-3">
      <%= image_tag 'sunset.png', class: 'img-thumbnail welcome-image', style: 'width: 100%;' %>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-3">
      <%= image_tag 'lake.png', class: 'img-thumbnail welcome-image', style: 'width: 100%;' %>
    </div>
  </div>
</div>