<script>
  var active = function() {
    $(".home_link").addClass('active');
  };
  active()
</script>
<div id="myCarousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
    <li data-target="#myCarousel" data-slide-to="3"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <%= image_tag('computer_blurred.png') %>
      <div class="carousel-caption">
        <h3>Software</h3>
        <p>Java, Python, Ruby on Rails</p>
      </div>
    </div>

    <div class="item">
      <%= image_tag('smash-wii-u.png') %>
      <div class="carousel-caption">
        <h3>Super Smash Bros.</h3>
        <p></p>
      </div>
    </div>

    <div class="item">
      <%= image_tag('mountains.png') %>
      <div class="carousel-caption">
        <h3>Traveling</h3>
        <p>Alaska, Amsterdam, London, Sydney</p>
      </div>
    </div>

    <div class="item">
      <%= image_tag('robotics.png') %>
      <div class="carousel-caption">
        <h3>Robotics</h3>
        <p>FLL & FTC</p>
      </div>
    </div>
  </div>

  <!-- Left and right controls -->
  <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

<div class="container text-center">
  <h3>What I Do</h3><br>
  <div class="row">
    <div class="col-sm-4">
      <%= image_tag('editor-screenshot.png', class: 'img-responsive', style: 'width:100%;') %>
      <p><%= link_to 'Text Editor Project', projects_editor_path %></p>
    </div>
    <div class="col-sm-4">
      <%= image_tag('novel.jpg', class: 'img-responsive', style: 'width:100%;') %>
      <p><%= link_to 'Novel', projects_novel_path %></p>
    </div>
    <div class="col-sm-4">
      <div style="color: black;">
        <%= button_to 'UC Berkeley Student', 'https://www.berkeley.edu', class: 'well btn-default', style: 'width: 100%;' %>
      </div>
      <div style="color: black;">
        <%= button_to 'Software Developer', 'https://www.github.com/rpandya922', class: 'well btn-default', style: 'width: 100%;' %>
      </div>
      <div style="color: black;">
        <%= button_to 'Novelist', 'https://www.amazon.com/Empire-Revealed-Ravi-Pandya/dp/0983441014', class: 'well btn-default', style: 'width: 100%;' %>
      </div>
    </div>
  </div>
</div><br>