<script>
  var active = function() {
    $(".awards_link").addClass('active');
  };
  active()
</script>

<div class="container-fluid">
  <h1>Academic Honors</h1>
  <ul class="awards">
    <li>
      Oak Ridge High School Class of 2015 Valedictorian
      <ul>
        <li>
          Class size of 600, had the highest GPA at 4.45
        </li>
      </ul>
    </li>
    <li>
      UC Berkeley College of Engineering
      <%= link_to "Dean's Honors List", 'http://engineering.berkeley.edu/academics/undergraduate-guide/procedures-and-regulations' %>
      Fall 2015, Spring 2016
      <ul>
        <li>
          GPA in the top 10% of all engineering undergraduates at 3.9 for Fall and 3.925 for Spring
        </li>
      </ul>
    </li>
  </ul>

  <h1>Coding Competitions</h1>
  <ul class="awards">
    <li>
      Worked in a small team to solve coding problems in Java in 3 hours, competing against 30-50 teams
    </li>
    <li>
      1st Place Advanced Team <%= link_to 'HP CodeWars 2015', 'http://www.hpcodewars.org/?page=cw18' %>
    </li>
    <li>
      1st Place Advanced Team <%= link_to 'HP CodeWars 2013', 'http://www.hpcodewars.org/?page=cw16' %>
    </li>
    <li>
      Honorable Mention <%= link_to 'Stanford ProCo', 'http://proco.stanford.edu/index.html' %> 2014
    </li>
  </ul>

  <h1>Patents</h1>
  <ul class="awards">
    <li>
      8030888 B2 (Issued):
      <%= link_to 'Wireless Charging System for Cars', 'https://www.google.com/patents/US8030888' %>
      utilizing electromagnetic resonant coupling, similar solutions have been implemented in Korea and are being pursued by companies like Hevo Motors
    </li>
    <li>
      20110281252 (Filed):
      <%= link_to 'Paperless School Project', 'https://www.google.com/patents/US20110281252' %> in an effort to create entirely paperless schools using readily available tools
      such as a Pico Projector and an infrared pen paired with handwriting recognition software
    </li>
  </ul>

  <h1>Robotics</h1>
  <h3><%= link_to 'Robo Chicken Gator Flies of Papayaland (FTC)', 'https://sites.google.com/site/rcgfopl/Home' %></h3>
  <ul class="awards">
    <li>
      2nd Place Inspire (Champion’s) Award FTC Asia/Pacific Invitational in Sydney, Australia 2014
      <ul>
        <li>Based on robot performance, robot design and community outreach</li>
        <li>At an international invitational competition competing with other champion teams</li>
      </ul>
    </li>
    <li>
      1st Place PTC (Computer Aided Design/CAD) Design Award at FTC Asia/Pacific Invitational 2014
    </li>
    <li>
      Finalist Alliance at FTC Asia/Pacific Invitational 2014
    </li>
    <li>
      2nd Place Inspire Award at Wyoming Championship 2014
    </li>
    <li>
      3rd Place Inspire Award at Wyoming Championship 2015
    </li>
  </ul>

  <h3><%= link_to 'Phoenxtrix (FTC)', ''%></h3>
  <ul class="awards">
    <li>
      3rd Place Inspire (Champion's) Award FTC World Festival in St. Louis 2013
      <ul>
        <li>
          Tournament with over 120 teams, all of whom were champions in their own states and countries
        </li>
      </ul>
    </li>
    <li>
      1st Place Connect Award FTC World Festival 2013
      <ul>
        <li>
          Award for community outreach, we were recognized as the team to made the most difference in spreading awareness
          of both robotics and STEM in our community and around the world
        </li>
      </ul>
    </li>
    <li>
      1st Place Inspire Award FTC NorCal Championship 2013
    </li>
    <li>
      1st Place Alliance Captain FTC Northern Nevada Championship 2013
    </li>
    <li>
      1st Place Inspire Award FTC NorCal Championship 2012
    </li>
  </ul>

  <h3><%= link_to 'M-Cubed (FLL)', 'https://www.youtube.com/user/mcubedfll' %></h3>
  <ul class="awards">
    <li>
      <%= link_to 'Recognition on the California State Assembly Floor', 'https://www.youtube.com/watch?v=rtUZLh0cibM' %> for being the state champions
    </li>
    <li>
      4th Place Robot Design Award Open European Championship 2011
      <ul>
        <li>
          Award based on the design and implementation of the robot's hardware and software, was at an international invitational
          championship
        </li>
      </ul>
    </li>
    <li>
      5th Place Teamwork Award Open European Championship 2011
      <ul>
        <li>
          Award based on how well the team works together in front of a panel of judges in a silent activity
        </li>
      </ul>
    </li>
    <li>
      1st Place Champion's Award Northern California State Championship 2011
      <ul>
        <li>
          1st place out of over 400 teams based on robot performance, robot design, teamwork and a research project
        </li>
      </ul>
    </li>
  </ul>
</div>
