<script>
  var active = function() {
    $(".projects_link").addClass('active');
  };
  active()
</script>

<div class="container-fluid">
  <br />
  <p>Code for my projects can be found on my <%= link_to 'GitHub', 'http://www.github.com/rpandya922?tab=repositories', target: '_blank' %>!
  Due to course policies, class projects are not included on my GitHub, however.</p>
  <h1>Doximity</h1>
  <%= render 'shared/project', title: 'Doc Jobs', description: $doc_jobs_description, img: 'doc-jobs.png' %>
  <%= render 'shared/project', title: 'Job Intel', description: $job_intel_description, img: 'job-intel.png' %>
  <h1>Personal</h1>
  <p>This book can be found on <%= link_to 'Amazon', 'https://www.amazon.com/Empire-Revealed-Ravi-Pandya/dp/0983441014', target: '_blank' %>!</p>
  <%= render 'shared/project', title: 'An Empire Revealed', description: $novel_description, img: 'novel.jpg' %>
  <h1>CS61B</h1>
  <%= render 'shared/project', title: 'Text Editor', description: $editor_description, img: 'editor-screenshot.png' %>
  <%= render 'shared/project', title: 'Bear Maps', description: $bear_maps_description, img: 'bear-maps.png' %>
  <h1>CS61A</h1>
  <%= render 'shared/project', title: 'Scheme Interpreter', description: $scheme_description, img: 'project-scheme.png' %>
  <%= render 'shared/project', title: 'Maps', description: $maps_description, img: 'project-maps.png' %>
  <br />
</div>