<script>
  var active = function() {
    $(".about_link").addClass('active');
  };
  active()
</script>

<div class="col-lg-3">
  <br />
  <%= image_tag 'picture_me.jpg', style: 'width: 100%;' %>
</div>

<div class="col-lg-9">
  <br />
  <p>My name is Ravi Pandya. I'm a sophomore at UC Berkeley studying Electrical Engineering and Computer Science.
  I work mostly with software right now, but I'm looking forward to learning about signal processing and much more
  regarding electronics!</p>
  <p>My past experience includes interning at Infosil, Inc. and Doximity.
  At <%= link_to 'Doximity', 'http://www.doximity.com' %>, I worked extensively with web scraping and Ruby on Rails.
  I designed and automated web scrapers that would store data in a MySQL database. I then made a web application from scratch
  for viewing and searching the data using Ruby on Rails.
  At <%= link_to 'Infosil', 'http://www.infosil.com' %>, I worked as an app designer for muliple Android and iOS apps with over 200,000 total downloads!
  </p>
</div>

<div class="col-lg-6">
  <br />
  <p>
    I've also written a full length novel! It's a fantasy book about kids who can talk to animals and discover another
    world connected to our own. I was inspired to write this novel after reading novels like Harry Potter and Percy Jackson.
    I always found it amazing that authors could create entire worlds of their own with deep and rich histories--so I
    loved the idea of doing the same. I wrote it a few years back, but I hope to continue writing the sequel again soon.
  </p>
  <p>
    It's currently available on <%= link_to 'Amazon', 'https://www.amazon.com/Empire-Revealed-Ravi-Pandya/dp/0983441014' %>
    in print and digital download.
  </p>
</div>

<div class="col-lg-3">
  <br />
  <%= image_tag 'novel.jpg', style: 'width: 100%;' %>
  <br />
</div>
<div class="col-lg-12"></div>
<div class="col-lg-6">
  <br />
  I was also very involved in <%= link_to 'FIRST Robotics', 'http://www.firstinspires.org/' %> for 8 years,
  where teams of up to 10 people design, build, program and compete with robots against teams both locally and globally
  as well as focus on spreading STEM to the community. I was part of 3 different teams, all of which participated and
  won awards at international tournaments! My first team, M-Cubed, became the California state champions, and got 4th place
  for robot design at the world festival in Amsterdam! My second team, Phoenxtrix, got the 3rd place Champion's Award the
  world festival in St. Louis. My third team, the Robo Chicken Gator Flies of Papayaland, got the 2nd place Champion's
  Award at the Asia Pacific Invitational.
</div>

<div class="col-lg-3">
  <br />
  <%= image_tag 'phoenxtrix-world-festival.jpg', style: 'width: 100%; margin-bottom: 15px;'%>
  <br />
</div>
<br />