<!DOCTYPE html>
<html>
  <head>
    <title>Ravi Pandya</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <%= csrf_meta_tags %>
    <%= favicon_link_tag 'favicon.ico' %>
    <style>
      /* Remove the navbar's default margin-bottom and rounded borders */
      .navbar {
        margin-bottom: 0;
        border-radius: 0;
      }

      /* Add a gray background color and some padding to the footer */
      footer {
        background-color: black;
        padding: 25px;
      }

      .carousel-inner img {
        width: 100%; /* Set width to 100% */
        margin: auto;
      }

      /* Hide the carousel text when the screen is less than 600 pixels wide */
      @media (max-width: 600px) {
        .carousel-caption {
          display: none;
        }
      }
    </style>
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body style="background-color:#292929">
    <div class="wrapper">
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <%= link_to(image_tag('image10.png'), root_path, class: 'navbar-brand') %>
          </div>
          <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
              <li class="home_link"><%= link_to 'Home', welcome_index_path %></a></li>
              <li class="about_link"><%= link_to 'About', about_index_path %></li>
              <li class="dropdown projects_link">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                  Projects
                  <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                  <li><%= link_to 'All Projects', projects_index_path %></li>
                  <li role="separator" class="divider"></li>
                  <li class="disabled"><%= link_to 'Internships', '#' %></li>
                  <li><%= link_to 'Doximity', projects_doximity_path %></li>
                  <li role="separator" class="divider"></li>
                  <li class="disabled"><%= link_to 'Personal', '#' %></li>
                  <li><%= link_to 'Novel', projects_novel_path %></li>
                  <li role="separator" class="divider"></li>
                  <li class="disabled"><%= link_to 'CS61A', '#' %></li>
                  <li><%= link_to 'Maps', projects_maps_path %></li>
                  <li><%= link_to 'Scheme', projects_scheme_path %></li>
                  <li role="separator" class="divider"></li>
                  <li class="disabled"><%= link_to 'CS61B', '#' %></li>
                  <li><%= link_to 'Text Editor', projects_editor_path %></li>
                  <li><%= link_to 'Bear Maps', projects_bear_maps_path %></li>
                  <li role="separator" class="divider"></li>
                  <li class="disabled"><%= link_to 'Robotics', '#' %></li>

                </ul>
              </li>
              <li class="awards_link"><%= link_to 'Awards/Honors', awards_index_path %></li>
              <li class="contact_link"><%= link_to 'Contact', contact_index_path %></li>
            </ul>
          </div>
        </div>
      </nav>

      <div id="main-container" class="container-fluid">
        <div class="row" style="font-size: 1.25em; text-align: left; text-justify: inter-word;">
          <%= yield %>
        </div>
      </div>
      <div class="push"></div>
    </div>

    <footer class="footer">
      <div class="text-muted">
        <div style="display: block; margin-left: auto; margin-right: 0;" class="text-center">
          Made in Berkeley, CA
          <%= link_to(image_tag('linkedin-icon.png', style: 'height: 25px;'), 'http://www.linkedin.com/in/ravi-pandya') %>
          <%= link_to(image_tag('facebook-icon5.png', style: 'height: 25px'), 'http://www.facebook.com/ravi.pandya.129') %>
          <%= link_to(image_tag('github-icon.png', style: 'height: 25px'), 'http://www.github.com/rpandya922') %>
          <div>
            (C) RAVI PANDYA 2016 ALL RIGHTS RESERVED
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
